<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera_gazebo_v0" params="gazebo prefix">
    <gazebo reference="${prefix}_camera_link">
      <xacro:if value="${gazebo == 'classic'}">
        <sensor name="${prefix}_camera_sensor" type="depth">
          <pose>0 0 0 0 0 0</pose>
          <update_rate>30.0</update_rate>
          <camera name="camera">
            <horizontal_fov>1.56207</horizontal_fov>
            <image>
              <width>640</width>
              <height>400</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.02</near>
              <far>8.0</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
          <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <min_depth>0.2</min_depth>
            <max_depth>8.0</max_depth>
            <hack_baseline>0.07</hack_baseline>
            <frame_name>camera_depth_link</frame_name>
            <distortion_k1>0.0</distortion_k1>
            <distortion_k2>0.0</distortion_k2>
            <distortion_k3>0.0</distortion_k3>
            <distortion_t1>0.0</distortion_t1>
            <distortion_t2>0.0</distortion_t2>
          </plugin>
        </sensor>
      </xacro:if>

      <xacro:if value="${gazebo == 'ignition'}">
        <sensor name="${prefix}_camera_sensor" type="rgbd_camera">
          <pose>0 0 0 0 0 0</pose>
          <topic>${prefix}_camera_sensor</topic>
          <update_rate>30.0</update_rate>
          <ignition_frame_id>${prefix}_camera_link</ignition_frame_id>
          <camera>
            <horizontal_fov>1.56207</horizontal_fov>
            <image>
              <width>640</width>
              <height>400</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.02</near>
              <far>8.0</far>
            </clip>
            <optical_frame_id>camera_depth_link</optical_frame_id>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
        </sensor>
      </xacro:if>
    </gazebo>
  </xacro:macro>
</robot>
