<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="body" params="parent *joint_origin">
    <joint name="base_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child  link="base_link"/>
    </joint>
    <link name="base_link">
      <visual>
        <origin xyz="-0.028241 -0.073553 0.01"/>
        <geometry>
          <mesh filename="package://megarover_samples_ros2/models/vmegarover/meshes/dae/megarover.dae"/>
          <!--<mesh filename="$(find kobuki_description)/meshes/main_body.dae"/>-->
          <!--<mesh filename="/home/rover/3d/megarover.dae"/>-->
        </geometry>
      </visual>
    </link>
  </xacro:macro>

</robot>
