<?xml version="1.0"?>
<robot name="megarover20" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find megarover_samples_ros2)/urdf/body/body.urdf.xacro"/>

  <link name="base_footprint"/>

  <xacro:body parent="base_footprint">
    <origin xyz="0 0 0"/>
  </xacro:body>

  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>


  <link name="horizontal_laser_link">
    <visual>
      <origin xyz="0 0 -0.08" />
      <geometry>
        <cylinder length="0.05" radius="0.03" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <joint name="horizontal_laser_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="horizontal_laser_link" />
    <origin xyz="0.1 0 0.06" rpy="3.14159 0.0 0.0"/>
  </joint>

</robot>
